@import '../../assets/scss/Mixins.scss';

.section {
    width: 100%;
    @include flex(column, flex-start, var(--g-spacing-4), flex-start);

    .title {
        @include text(24, 600, var(--text-primary), 28px);
        
        span { color: var(--g-color-text-brand); }

        .opacity {
            animation: opacity linear 1s infinite;
        }
    }
}

.icon {
    color: var(--g-color-text-hint);
    margin: 0.5px 8px 0px 12px;
}

.clear {
    cursor: pointer;
    @include flex(row, center,var(--g-spacing-0), center);
    margin-right: var(--g-spacing-1);
}

@keyframes opacity {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 1;
    }
}